body{
    margin:auto;
}
.background{
    width: 100%;
        margin: 0%;
        position: fixed;
        margin: 0%;
}
.information{
    position: relative;
    color:rgb(0, 0, 0);
    font-size: larger;
    padding: 50px;
}
.quote{
    margin: 0%;
    text-align: center;
    font-size: 2em;
    color: azure;
    text-decoration: none;
    font-family: 'Cinzel', serif;
}
.h{
    text-align: center;
}
.p{
    font-family: 'Nunito', sans-serif;
}